body {
    margin: 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: #e6e6e6;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #0b4dff;
    align-items: center;
    padding: 10px;
}

h1 {
    flex: 3;
    text-align: center;
    color: white;
}

.text-black {
    color: black;
}

.img-full-width {
    width: 100%;
}

.content {
    width: 70%;
    margin: auto;
    background-color: white;
}

.settings-link {
    flex: 1;
    text-align: left;
    color: white;
    text-decoration: none;
}

.developer-link {
    flex: 1;
    text-align: right;
    color: white;
    text-decoration: none;
}

.daily-forecast {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.weather-day {
    width: 15%;
    min-width: 30px;
    align-items: center;
    text-align: center;
}

.avatar img {
    border-radius: 50%;
    width: 50px;
}

/* CSS class helpers */

.row {
    display: flex;
}

.justify-between {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.items-center {
    align-items: center;
}

.container {
    width: 70%;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 95%;  
    }
  }
