body {
    margin: 0;
    font-family: Montserrat, sans-serif;
    background-color: #f3f3f3;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #0b4dff;
    align-items: center;
    padding: 10px;
}

header h1 {
    flex: 3;
    text-align: center;
    color: white;
}

header a {
    text-decoration: inherit;
    color: inherit;
}

h2 {
    padding: 10px;
    margin: 0;
}

.settings-link {
    flex: 1;
    text-align: left;
    color: white;
    text-decoration: none;
}

.developer-link {
    flex: 1;
    text-align: right;
    color: white;
    text-decoration: none;
}

.weather-day {
    width: 15%;
    min-width: 30px;
    align-items: center;
    text-align: center;
}

button:focus{
    outline: none;
}


/**** CSS class helpers ****/

/* Positionning helpers */

.row {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.items-center {
    align-items: center;
}

.container {
    width: 70%;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 95%;
    }
}

/* Text styling helpers */

.text-center {
    text-align: center;
}

.text-black {
    color: black;
}

/* Sizing helpers */

.img-full-width {
    width: 100%;
}
