body {
    margin: 0;
    font-family: Montserrat, sans-serif;
    background-color: #f3f3f3;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #0b4dff;
    align-items: center;
    padding: 10px;
}

h1 {
    flex: 3;
    text-align: center;
    color: white;
}

.text-black {
    color: black;
}

h2 {
    padding: 10px;
    margin: 0;
}

.img-full-width {
    width: 100%;
}

.content {
    width: 70%;
    margin: auto;
    background-color: white;
}

.settings-link {
    flex: 1;
    text-align: left;
    color: white;
    text-decoration: none;
}

.developer-link {
    flex: 1;
    text-align: right;
    color: white;
    text-decoration: none;
}

.daily-forecast {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.ephemeris {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.weather-day {
    width: 15%;
    min-width: 30px;
    align-items: center;
    text-align: center;
}

.avatar img {
    border-radius: 50%;
    width: 50px;
}

/* CSS class helpers */

.row {
    display: flex;
}

.justify-between {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.items-center {
    align-items: center;
}

.container {
    width: 70%;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 95%;  
    }
}

.single-ephemeris {
    width: 15%;
    min-width: 30px;
    align-items: center;
    text-align: center;
}

.map-weather {
    position: relative;
}

.img-map {
    width: 5%
}

.position-map-1 {
    position: absolute;
    top: 35%;
    left: 25%;
}

.position-map-2 {
    position: absolute;
    top: 60%;
    left: 35%;
}
.position-map-3 {
    position: absolute;
    top: 65%;
    left: 65%;
}
.position-map-4 {
    position: absolute;
    top: 45%;
    left: 55%;
}
.position-map-5 {
    position: absolute;
    top: 25%;
    left: 48%;
}
.position-map-6 {
    position: absolute;
    top: 30%;
    left: 75%;
}
.position-map-7 {
    position: absolute;
    top: 80%;
    left: 48%;
}
.position-map-8 {
    position: absolute;
    top: 7%;
    left: 46%;
}